.muscle-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
  gap: 16px;
  justify-items: center;
  padding: 16px;
}

.muscle-item {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.muscle-item:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow */
}


.muscle-img {
  width: 150px;
  height: 230px; 
  object-fit: cover; 
  border-radius: 8px; /* Optional: Rounded corners */
  margin-bottom: 8px;
}

.muscle-label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--ion-color-primary);
}
